extends layouts/layout

block bodyContent
    form(method="POST", action=action)
        each user in users
            each field in user
                div
                    label(for=field.name)=field.name
                    input(type=field.type, id=field.name, name=field.name, value=field.value)