extends layouts/layout

block bodyContent
    form(method="post", action=action)
        each user in users
            each field in user
                div
                    label(type=field.type, for=field.name)=field.name
                    input(id=field.name, name=field.name, value=field.value)